body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0f0f0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  position: relative;
  background: gray;
  overflow: hidden;
}

.container .slide {
  position: absolute;
  margin: 0 auto;
  height: 100%;
  height: 250px;
  background: white;
  width: 500px;
}
